* {
    box-sizing: border-box;
}

html{
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    max-width: 720px;
    margin: auto;
    font-family: Questrial, sans-serif;
    font-size: 20px;
    color: #242424;
    text-decoration-skip-ink: none;
    padding-bottom: 128px;
}

h2 {
    background-color: #58637a;
    color: #ffffff;
    margin: 0;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

a.prev {
	background-color: #faab00;
    padding: 0.25rem 1rem;
    margin: 0.25rem 1rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    height: 24px;
	width: 72px;
	color: #ffffff;
	position: relative;
	border-radius: 0 12px 12px 0;
}

a.prev:before {
	content: '';
	border: 12px solid transparent;
  	border-right: 12px solid #faab00;
	position: absolute;
  	top: 50%;
    left: -24px;
	margin-top: -12px;
}
.header {
    /*background-color: #58637A;*/
    text-align: center;
    margin: 2rem 0;
}

.inner {
    margin: 0.5rem 1.5rem;
}

ul.products {
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    display: flex;
}

ul.products li {
    margin: 0.2rem;
    width: 162px;
    height: 100px;
    background-color: #3db7Cf;
    padding: 10px;
    display: flex;
}

ul.products li > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.products li > div:first-child {
    flex: 1.618;
    background-color: #ffffff;
    border-radius: 2px;
    color: #58637a;
    font-size: 1rem;
}

ul.products li > div:nth-child(2) {
    flex: 1;
    color: #ffffff;
    margin-left: 10px;
    font-size: 1.0rem;
}

.counter {
    width: 320px;
    height: 160px;
    padding: 2em;
    margin: auto;
    display: flex;
    align-items: stretch;
}

.counter > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.counter > div {
    background-color: #58637a;
    font-family: Questrial, sans-serif;
}

.counter > button {
    border: none;
    background-color: #3db7Cf;
    font-family: Questrial, sans-serif;
    padding: 0;
}

.counter > *:first-child {
    border-radius: 80px 0 0 80px;
}

.counter > *:last-child {
    border-radius: 0 80px 80px 0;
}
